

.carousel-caption{
    top: 520px;
    color: darkorange !important;
}

#staff a{
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    color: red;
    background-color: black;
    border-radius: 50%;
    line-height: 2.5rem;
}

#staff img, 
#staff a,
#portfolio img,
#services i{
    transition: all 1s;
}

#staff img:hover, 
#staff a:hover,
#portfolio img:hover,
#services i:hover{
    transform: scale(1.2);
}

#portfolio .card{
    overflow: hidden;
}


#contactus{
    background-image: url("https://picsum.photos/id/690/600/400");
    background-size: cover;
    object-fit: cover;
}

.just{
    text-align: justify;
}